<%= form_with model: models, local: true do |f| %>

  <%= render partial: 'error_messages', locals: {model: f.object} %>

  <%= f.hidden_field :user_id, {value: current_user.id} %>

  <div class="form-group">
    <label>質問タイトル</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>質問内容</label>
    <%= f.text_area :content, class: "form-control", size: "30x10" %>
  </div>

  <div class="text-center">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>