<% provide :title, set_title("TOP")  %>

<div id="index"  class="container">
  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item active">HOME</li>
  </ol>

  <div class="row">
    <main class="col-md-8">
      <div class="p-4">
        <h2 class="text-center py-4">投稿された質問</h2>
        <% unless Question.count == @search_count %>
          <p><%= "「#{params[:word]}」の検索結果は#{@search_count}件" %></p>
        <% end %>
        <div class="row" id="wrapper-result">
          <% @questions.each do |question| %>
            <article class="col-md-6">
              <dl>
                <hr>
                <dt><%= link_to question.title.truncate(20) ,question_path(question) %></dt>
                <dd class="qcontent text-left"><%= question.content %></dd>
                <dd>投稿日時: <%= simple_time(question.created_at) %></dd>
                <% if user_signed_in? && current_user.id == question.user_id  %>
                  <dd>[ <%= link_to '編集', edit_user_question_path(current_user, question) %> ] [ <%= link_to '消去', user_question_path(current_user, question), method: :delete, data: {confirm: 'Are you sure?'} %> ]</dd>
                <% end %>
                <hr>
              </dl>
            </article>
          <% end %>
        </div>
      </div>

      <%= link_to '新規質問投稿画面へ', new_question_path  %>
      <!--#ページネーションを表示したいところへ-->
      <block class="paginate"><%= paginate @questions %></block>
    </main>

    <%= render partial: 'layouts/aside', locals: {nores_questions: @nores_questions, nores: @nores, latest_questions: @latest_questions} %>

  </div>

</div>

