<% provide :title, set_title("質問詳細")  %>
<div id="show" class="container">

  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">HOME</a></li>
   <li class="breadcrumb-item active">質問詳細</li>
  </ol>

  <div class="row">
    <main class="col-md-8">
      <div class="p-4">
        <article>
          <dl>
            <dt><h4><%= @question.title %></h4></dt>
            <dd class="content my-4"><%= @question.content %></dd>
            <% if user_signed_in? && current_user.id == @question.user_id  %>
              <dd>[ <%= link_to '編集', edit_user_question_path(current_user, @question) %> ] [ <%= link_to '消去', user_question_path(current_user ,@question), method: :delete, data: {confirm: 'Are you sure?'} %> ]</dd>
            <% end %>
            <profile class="d-flex align-items-center">
              <thumbnail>
                <% if @question.user.image? %>
                  <%= @question.user.image.url %>
                <% else %>
                  <%= image_tag '/default_kodai.jpg', size: '100x150', class: 'rounded d-block mr-4' %>
                <% end %>
              </thumbnail>
              <content>
                <p>投稿者名: <%= @question.user.name %></p>
                <p>投稿日時: <%= simple_time(@question.created_at) %></p>
              </content>
            </profile>
          </dl>
        </article>

        <hr>

        <section>
          <h3 class="text-center">この質問への回答</h3>
          <hr>
          <% if @question.answers.any? %>
            <% @question.answers.each do |answer| %>
              <dl>
                <dt id="answer-<%= answer.id %>"><h4><%= answer.content %></h4></dt>

                <profile class="d-flex align-items-center flex-row-reverse">
                  <thumbnail>
                    <% if answer.user.image? %>
                      <%= answer.user.image.url %>
                    <% else %>
                      <%= image_tag '/default_kodai.jpg', size: '100x150', class: 'rounded d-block ml-4' %>
                    <% end %>
                  </thumbnail>
                  <content>
                    <p>投稿者名: <%= answer.user.name %></p>
                    <p>投稿日時: <%= simple_time(answer.created_at) %></p>
                  </content>
                </profile>
              </dl>
              <hr>
            <% end %>
          <% else %>
            <p class="text-center">この質問への回答はまだありません</p>
          <% end %>
        </section>

        <hr>

        <!--ボタンでフォームを開閉-->
        <section>
          <button class="btn btn-danger d-block mx-auto my-4">この質問に回答する！</button>
          <section class="disable">
            <h3 class="text-center">この質問に回答する</h3>

            <%= render partial: 'layouts/answer_form', locals: {question: @question,answer: @answer} %>

          </section>
        </section>




      </div>

    </main>

    <%= render partial: 'layouts/aside', locals: {nores_questions: @nores_questions, nores: @nores, latest_questions: @latest_questions} %>

  </div>
</div>
