<% provide :title, set_title("質問詳細") %>
<div id="show" class="container">

  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">HOME</a></li>
   <li class="breadcrumb-item active">質問詳細</li>
  </ol>

  <div class="row">
    <main class="col-md-8 mx-auto">
      <div class="p-4">
        <article>
          <dl>
            <dt><h2><%= @question.title %></h2></dt>

            <hr>

            <dd class="content my-4"><%= raw Rinku.auto_link(simple_format(h(@question.content))) %></dd>

            <!--いいね機能部分-->
            <dd id="like-question-<%= @question.id %>">
              <%= render partial: "layouts/like", locals: { question: @question } %>
            </dd>
            <% if user_signed_in? && current_user.id == @question.user_id  %>
              <dd><%= link_to '編集', edit_user_question_path(current_user, @question), class: "btn btn-primary my-1 w-25"  %></dd>
              <dd><%= link_to '消去', user_question_path(current_user ,@question), method: :delete, data: {confirm: 'Are you sure?'}, class:"btn btn-danger my-1 w-25" %></dd>
            <% end %>

            <hr>

            <profile class="d-flex align-items-center">
              <thumbnail>
                <% if @question.user.image? %>
                  <%= link_to(image_tag(@question.user.image.url, size: '100x150', class: 'rounded d-block mr-4'), user_path(@question.user)) %>
                <% else %>
                  <i class="fa fa-frown-o fa-5x mr-4"></i>
                <% end %>
              </thumbnail>
              <content>
                <p>投稿者名: <%= link_to @question.user.name, user_path(@question.user) %></p>
                <p>投稿日時: <%= simple_time(@question.created_at) %></p>
                <p id="follow-<%= @question.id %>">
                  <%= render partial: "layouts/follow", locals: { question: @question } %>
                </p>
              </content>
            </profile>
          </dl>
        </article>

        <hr>

        <section id="answer-wrap">
          <a href="#answer-form" class="btn btn-primary my-2">回答フォームへ</a>
          <hr>
          <% if @question.answers.any? %>
            <% @question.answers.each do |answer| %>
              <dl class="border-rounded">
                <dt id="answer-<%= answer.id %>"><%= raw Rinku.auto_link(simple_format(h(answer.content))) %></dt>

                <hr>

                <!--質問者と回答者が同じなら左へ表示-->
                <% if answer.user == @question.user %>
                  <profile class="d-flex align-items-center">
                    <thumbnail>
                      <% if answer.user.image? %>
                        <%= link_to(image_tag(answer.user.image.url, size: '100x150', class: 'rounded d-block mr-4'), user_path(answer.user)) %>
                      <% else %>
                        <i class="fa fa-frown-o fa-5x mr-4"></i>
                      <% end %>
                    </thumbnail>
                    <content>
                      <p>投稿者名: <%= link_to answer.user.name, user_path(answer.user) %></p>
                      <p>投稿日時: <%= simple_time(answer.created_at) %></p>
                      <% if answer.user == current_user %>
                        <%= link_to '消去', question_answer_path(@question, answer), method: :delete, data: {confirm: '回答を消去しますか？'}, class:"btn btn-danger my-1 w-50" %>
                      <% end %>
                    </content>
                  </profile>
                <% else %>
                  <profile class="d-flex align-items-center flex-row-reverse">
                    <thumbnail>
                      <% if answer.user.image? %>
                        <%= link_to(image_tag(answer.user.image.url, size: '100x150', class: 'rounded d-block ml-4'), user_path(answer.user)) %>
                      <% else %>
                        <i class="fa fa-frown-o fa-5x ml-4"></i>
                      <% end %>
                    </thumbnail>
                    <content>
                      <p>投稿者名: <%= link_to answer.user.name, user_path(answer.user) %></p>
                      <p>投稿日時: <%= simple_time(answer.created_at) %></p>
                    </content>
                  </profile>
                <% end %>
              </dl>
              <hr>
            <% end %>
          <% else %>
            <p class="text-center">この質問への回答はまだありません</p>
          <% end %>
        </section>

        <hr>

        <%= render partial: 'layouts/answer_form', locals: {question: @question,answer: @answer} %>

        </section>




      </div>
    </main>


  </div>
</div>
