
<div id="show" class="row">

  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">HOME</a></li>
   <li class="breadcrumb-item active">質問詳細</li>
  </ol>

  <div class="col-md-12">
    <dl>
      <dt><h4><%= @question.title %></h4></dt>
      <dd class="content my-4"><%= @question.content %></dd>
      <dd>投稿者名: <%= @question.name %></dd>
      <dd>投稿日時: <%= @question.created_at %></dd>
    </dl>

    <hr>

    <div>
      <h3>この質問への回答</h3>
      <% if @question.answers.any? %>
        <% @question.answers.each do |answer| %>
          <dl>
            <dt><h4><%= answer.content %></h4></dt>
            <dd>投稿日時: <%= answer.name %></dd>
            <dd>投稿日時: <%= answer.created_at %></dd>
            <dd>[<%= link_to '編集',edit_question_answer_path(@question,answer) %>][<%= link_to '消去', question_answer_path(@question,answer), method: :delete %>]</dd>
          </dl>
          <hr>
        <% end %>
      <% else %>
        この質問への回答はまだありません
      <% end %>
    </div>

    <hr>
    <div class="text-center"><button class="answer-btn btn btn-danger my-4">この質問に回答する！</button></div>

    <div class="disable">
      <h3>この質問に回答する</h3>
      <%= form_with model: [@question,@answer],local: true do |f|  %>
        <%= f.hidden_field :question_id, {value: @question.id} %>

        <div class="form-group">
          <label>名前</label>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>回答</label>
          <%= f.text_area :content, class: "form-control", size: "30x10" %>
        </div>

        <div class="text-center">
          <%= f.submit "回答を投稿", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>


    <div>
      <%= link_to '>Home', root_path %>
    </div>

  </div>
</div>
