<!--パンくずリスト-->
<div class="container text-center">
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">HOME</a></li>
   <li class="breadcrumb-item active">質問詳細</li>
  </ol>
</div>

<div id="show" class="row">
  <div class="col-md-12">
    <dt><h4><%= @question.title %></h4></dt>
    <dd class="content my-4"><%= @question.content %></dd>
    <dd>投稿者名: <%= @question.name %></dd>
    <dd>投稿日時: <%= @question.created_at %></dd>

    <hr>

    <div>
      <h3>この質問への回答</h3>
      <table class="table table-striped">
        <% if @question.answers.any? %>
            <thead class="thead-light">
              <tr>
                <td>回答</td>
                <td>回答者名</td>
                <td>Menu</td>
              </tr>
            </thead>
            <tbody>
            <% @question.answers.each do |answer| %>
              <tr>
                <td>
                  <%= answer.content  %>
                </td>
                <td>
                  <div>
                    <%= answer.name  %>
                  </div>
                </td>
                <td>
                  [<%= link_to 'Edit',edit_question_answer_path(@question,answer) %>][<%= link_to 'Delete', question_answer_path(@question,answer), method: :delete %>]
                </td>
              </tr>
            <% end %>
            </tbody>
        <% else %>
          <p>まだこの質問への回答はありません</p>
        <% end %>
      </table>
    </div>


    <hr>
    <div class="text-center"><button class="answer-btn btn btn-danger my-4">この質問に回答する！</button></div>

    <div class="disable">
      <h3>この質問に回答する</h3>
      <%= form_with model: [@question,@answer],local: true do |f|  %>
        <%= f.hidden_field :question_id, {value: @question.id} %>

        <div class="form-group">
          <label>Name</label>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>Content</label>
          <%= f.text_area :content, class: "form-control" %>
        </div>

        <div class="text-center">
          <%= f.submit "Post", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>


    <div>
      <%= link_to '>Home', root_path %>
    </div>

  </div>
</div>
