<% provide :title, set_title("質問詳細")  %>
<div id="show" class="container">

  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">HOME</a></li>
   <li class="breadcrumb-item active">質問詳細</li>
  </ol>

  <div class="row">
    <main class="col-md-8">
      <div class="p-4">
        <article>
          <dl>
            <dt><h4><%= @question.title %></h4></dt>
            <dd class="content my-4"><%= @question.content %></dd>
            <dd>投稿者名: <%= @question.name %></dd>
            <dd>投稿日時: <%= simple_time(@question.created_at) %></dd>
          </dl>
        </article>

        <hr>

        <section>
          <h3 class="text-center">この質問への回答</h3>
          <hr>
          <% if @question.answers.any? %>
            <% @question.answers.each do |answer| %>
              <dl>
                <dt><h4><%= answer.content %></h4></dt>
                <dd>投稿者名: <%= answer.name %></dd>
                <dd>投稿日時: <%= simple_time(answer.created_at) %></dd>
                <dd>[<%= link_to '編集',edit_question_answer_path(@question,answer) %>][<%= link_to '消去', question_answer_path(@question,answer), method: :delete %>]</dd>
              </dl>
              <hr>
            <% end %>
          <% else %>
            <p class="text-center">この質問への回答はまだありません</p>
          <% end %>
        </section>

        <hr>

        <!--ボタンでフォームを開閉-->
        <section>
          <button class="btn btn-danger d-block mx-auto my-4">この質問に回答する！</button>
          <section class="disable">
            <h3 class="text-center">この質問に回答する</h3>

            <%= render partial: 'answer_form', locals: {question: @question,answer: @answer} %>

          </section>
        </section>


        <div>
          <%= link_to '>Home', root_path %>
        </div>

      </div>

    </main>

    <%= render partial: 'aside', locals: {nores_questions: @nores_questions, nores: @nores, latest_questions: @latest_questions} %>

  </div>
</div>
