<% provide :title, set_title("ログイン")  %>
<div id="new-seesion" class="container">

  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="/">HOME</a></li>
   <li class="breadcrumb-item active">サインイン</li>
  </ol>

  <div class="row text-center">
    <main class="col-md-8">
      <div class="p-4">

        <h2 class="p-5">サインイン</h2>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
      </div>
    </main>
  </div>
</div>

