<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "layouts/error_messages", model: resource %>

  <div class="field">
    <label for="user_image">アイコン画像</label><br>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  <div class="field">
    <label for="user_name">名前</label> <br />
    <%= f.text_field :name, autofocus: true, required: true, placeholder: "入力例",autocomplete: "name"%>

  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, type: "email", autocomplete: "email" %>

  </div>

  <div class="field">
    <%= f.label :password %>
    <em>(8文字以上)</em><br />
    <%= f.text_field :password, type: "password", autocomplete: "new-password", class: "pw-form" %>
    <p id="user-password-caution"><em>※半角英小文字,大文字,数字をそれぞれ1種類以上を含んで設定してください<em></p>
     <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="pw-check">
      <label class="custom-control-label" for="pw-check">パスワードを表示する</label>
    </div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation, type: "password", autocomplete: "new-password", class: "pw-form" %>
  </div>

  <div class="actions">
    <%= f.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>