<% provide :title, set_title("#{@user.name}さんのプロフィール")  %>

<div id="show-user" class="container text-center">
  <div class="row">
    <main class="col-md-8 mx-auto">
      <div class="p-4">

        <profile class="d-flex align-items-start">
          <thumbnail class="text-left">
            <% if @user.image? %>
              <%= image_tag @user.image.url, size: '100x150', class: 'rounded d-block mr-4' %>
            <% else %>
              <%= image_tag '/default_kodai.jpg', size: '100x150', class: 'rounded d-block mr-4' %>
            <% end %>
            <% if params[:id].to_i == current_user.id %>
              [<%= link_to '編集', edit_user_registration_path %>][<%= link_to '削除', user_registration_path, method: :delete, data: {confirm: 'Are you sure?'} %>]
            <% end %>
          </thumbnail>
          <content class="mx-auto">
            <h2>プロフィール</h2>

            <hr>

            <p>名前: <%= @user.name %></p>
            <p>メールアドレス: <%= @user.email %></p>

            <hr>

            <qblock class="text-center">
              <h2>あなたの過去の質問</h2>



                <% if @user_questions.any? %>
                  <table class="table">
                    <tr><th>質問のタイトル</th><th>投稿日時</th><th>編集日時</th></tr>

                    <% @user_questions.each do |user_question| %>
                    <tr>
                      <td>
                        <dl>
                          <dt><%= link_to user_question.title.truncate(20), question_path(user_question) %></dt>
                          <dd class="d-none"><%= user_question.content.truncate(20) %></dd>
                        </dl>
                      </td>
                      <td>
                        <%= simple_time(user_question.created_at) %>
                      </td>
                      <td>
                        <% if user_question.created_at == user_question.updated_at %>
                          -
                        <% else %>
                          <%= simple_time(user_question.updated_at) %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </table>

                <% else %>
                  質問してみよう
                <% end %>

            </qblock>

            <hr>

            <ablock class="text-center">
                <h2>あなたの過去の回答</h2>
                <% if @user_answers.any? %>
                  <table class="table">
                    <tr><th>回答</th><th>投稿日時</th><th>編集日時</th></tr>
                    <% @user_answers.each do |user_answer| %>
                      <tr>
                        <td>
                          <dl>
                            <dt><%= link_to user_answer.content.truncate(20), question_path(user_answer.question, anchor: "answer-#{user_answer.id}") %></dt>
                          </dl>
                        </td>
                        <td>
                          <%= simple_time(user_answer.created_at) %>
                        </td>
                        <td>
                          <% if user_answer.created_at == user_answer.updated_at %>
                            -
                          <% else %>
                            <%= simple_time(user_answer.updated_at) %>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                <% else %>
                  回答してみよう
                <% end %>

            </ablock>

            <hr>

            <fblock>
              <h2>あなたがいいねの質問</h2>
              <% if @user_like_questions.any? %>
                <table class="table">
                  <tr><th>質問のタイトル</th><th>投稿日時</th><th>編集日時</th></tr>
                  <% @user_like_questions.each do |user_like_question| %>
                    <tr>
                      <td>
                        <dl>
                          <dt><%= link_to user_like_question.title.truncate(20), question_path(user_like_question) %></dt>
                          <dd class="d-none"><%= user_like_question.content.truncate(20) %></dd>
                        </dl>
                      </td>
                      <td>
                        <%= simple_time(user_like_question.created_at) %>
                      </td>
                      <td>
                        <% if user_like_question.created_at == user_like_question.updated_at %>
                          -
                        <% else %>
                          <%= simple_time(user_like_question.updated_at) %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              <% else %>
                いいねしてみよう
              <% end %>

            </fblock>

          </content>
        </profile>

      </div>
    </main>
  </div>
</div>