<% provide :title, set_title("お問い合わせ")  %>

<div id="inquiry"  class="container">
  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><%= link_to 'HOME', root_path %></li>
   <li class="breadcrumb-item active">お問い合わせ</li>
  </ol>

  <div class="row text-center">
    <main class="col-md-8 mx-auto">
      <div class="p-4">
        <%= form_with model: @inquiry, local: true do |f| %>
          <%= render partial: 'layouts/error_messages', locals: { model: f.object } %>

          <div class="form-group">
            <%= f.label :email, '返信先メールアドレス' %>
            <% user_signed_in? ? email_placeholder = current_user.email : email_placeholder = '例:sample@email.com' %>
            <%= f.text_field :email, type: "email", autocomplete: "email", placeholder: "#{email_placeholder}", class: 'form-control' %>
          </div>

         <div class="form-group">
           <%= f.label :message, 'お問い合わせ内容' %>
           <%= f.text_area :message, size: '10x10', class: 'form-control' %>
         </div>

          <%= f.submit '送信' %>

        <% end %>

      </div>
    </main>


  </div>

</div>