<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
    <header class="py-3">
      <div class="container text-center">
        <%= link_to root_path, target: "_blank" do %>
          <%= image_tag 'QA_logo.jpg' %>
        <% end %>
      </div>

      <!--ナビバー-->
      <nav class="navbar navbar-dark navbar-expand-sm bg-dark justify-content-center">
        <%= form_with url: root_path, method: :get do |f| %>
          <%= f.text_field :word %>
          <%= f.submit "質問を検索", class: "q-search" %>
        <% end %>

        <!--data-target="#navbar-items"とid="navbar-items"でハンバーガーを押すと、表示される部分を関連付けてる-->
        <button class="navbar-toggler ml-auto" id="hamb" data-toggle="collapse" data-target="#navbar-items"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><%= link_to '投稿された質問一覧', root_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '質問を投稿する！', new_question_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, class: "nav-link" %></li>
          </ul>
        </div>
      </nav>
    </header>
    <!--ヘッダー終わり-->


    <!--フラッシュメッセージ-->
    <% if flash[:notice] %>
      <p class="text-success"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="text-danger"><%= flash[:alert] %></p>
    <% end %>

    <!--ここに各ページのviewが入る-->
    <%= yield %>

    <!--フッダー-->
    <footer class="py-4 mt-4 bg-dark text-light">
      <div class="container text-center">
        <ul class="nav justify-content-center">
          <li class=nav-item>
            <%= link_to 'HOME',root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'New Question',new_question_path, class: "nav-link" %>
          </li>
        </ul>
      <p><small>Copyright &copy;2020 Y.Yoshida, All Rights Reserved. </small></p>
      </div>
    </footer>
    <!--フッダー-->
  </body>
</html>
