<% provide :title, set_title("新規登録")  %>

<div id="user-registration"  class="container">
  <!--パンくずリスト-->
  <ol class="breadcrumb">
   <li class="breadcrumb-item"><%= link_to 'HOME', root_path %></li>
   <li class="breadcrumb-item active">ユーザー新規登録</li>
  </ol>

  <div class="row text-center">
    <main class="col-md-8 mx-auto">
      <div class="p-4">

      <h2>ユーザー新規登録</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <% if resource.image? %>
            <div class="thumbnail">
              <%= image_tag resource.image.url %>
            </div>
          <% end %><br>
          <label for="user_image">アイコン画像</label><br>
          <%= f.file_field :image %>
          <%= f.hidden_field :image_cache %>
        </div>
        <div class="field">
          <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
          <% if resource.persisted? && resource.image? %>
            <label>
              <%= f.check_box :remove_image %>
              画像を削除
            </label>
          <% end %>
        </div>

        <div class="field">
          <label for="user_name">名前</label> <br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name"%>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "登録する", class: "btn btn-primary" %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
      </div>
    </main>

  </div>

</div>



